h1 {
    font-size: 20px;
    font-family: georgia;            
    text-align: center;
    background-color: #4252BD;
   }
    h2 {
    font-size: 30px;
    color: #FF3030 ;
    text-align: center;
    background-image: url(https://png.pngtree.com/background/20230409/original/pngtree-beautiful-background-with-colorful-clouds-in-the-sky-picture-image_2372610.jpg);
    background-size: 100%;
    }
    h3 {
    font-size: 20px;
    font-family: Segoe Print ; 
    text-align: center;
    background-color: #74C86F;
   }
