h1 {
    font-size: 20px;
    font-family: georgia;            
    text-align: center;
    background-color: #3A6BFD;
   }
    h2 {
    font-size: 30px;
    color: #FF3030 ;
    text-align: center;
    background-image: url(https://img.freepik.com/free-vector/beautiful-watercolor-background_23-2148486848.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1715040000&semt=ais);
    background-size: 100%;
    }
    h3 {
    font-size: 20px;
    font-family: Segoe Print ; 
    text-align: center;
    background-color: #FAF07F;
   }
